@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Montserrat:wght@400;600;700&display=swap');

:root {
  font-family: 'Merriweather', serif;
  color: #141414;
  background-color: #f3f3f3;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #f3f3f3;
}

#root {
  width: 100%;
}

a {
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
  transition: all 0.2s ease;
}

ul {
  padding-left: 18px;
}


